# dependencies
/node_modules

# testing
/coverage

# build
/dist
/chrome
/firefox

# etc
.DS_Store
.env.local
.idea

#generated
public/*

/tails-devtools.zip
/chrome-tails-devtools.zip
/firefox-tails-devtools.zip